.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper{
    background-color: rgb(206, 88, 20);
    padding: 20px;
    padding-bottom: 100px;
}

.guessFeild{
    margin-top: 10px;
}

.guessSubmit{
    background-color: #212121;
    color: #fff;
    margin-top: 10px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
}